
  <header>
    <div class="row">
      <h1 class="chinder-title">Equalibrium</h1>
      <h3 class="white">Swipe for good</h3>
    </div>


    
  </header>
  <nav id="nav-menu-items">
   	<a href= "/">Home</a>
   	<!--<a href= "/feed/">Feed</a>-->
  	<!-- <a href= "/create_charity_profile/">Create A Charity</a>-->
   	<a href= "/charity_profile/1/">Charity</a>
   	<a href= "/user_profile/1/snail/">Profile</a>
   	<a href= "/feed/">Newsfeed</a>
   	<a href= "/about/">About</a>
   	<a href= "/login/">Logout</a>
	</nav>

