<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="/static/main.css">
<link href="https://fonts.googleapis.com/css?family=Comfortaa|Lora|Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

</head>
<body>

  {~ include templates/header.html ~}
  <section>
	<p>
		You have created a profile for {{charity._name}}
	</p>
  </section>
  <section>
  	<article>
      <p class = "home_link"><a href="/">Back to swipe page</a></p>
    </article>
  </section>
</body>


</html>
