/* CSS Document */
body {
	background-color: white;
}

.hamburger {
	width: 100px;
	height: 100px;
	float: right;
	background: skyblue;
	border-bottom: 2px blue solid;
	border-left: 2px blue solid;
	border-bottom-left-radius: 10px;
	margin: 0;
	display: inline-block;
}

header {
	background-color: #1F64DD;
	text-align: center;
	width: 85%;
	margin-bottom: 5px;
	margin-top: 20px;
	padding-left: 73px;
	padding-right: 73px;
	padding-top: 35px;
	padding-bottom: 30px;
}

h1 {
	margin: 0;
	color: #ffde7e;
	font-family: 'Comfortaa', cursive;
	font-size: 100px;

}
h2 {
	font-family: 'Lora', bold, serif;
	font-size: 40px;
}
h2.page {
	margin:40px;
	font-family: 'Comfortaa', cursive;
	font-size: 70px;
}
.yellow {

	margin: 0;
	margin-bottom: 15px;
	margin-right: 20px;
	color: #ffde7e;
	text-align: center;
	font-family: 'Comfortaa', cursive;
	font-size: 40px;
}
.white{
	margin: 0;
	margin-bottom: 15px;
	margin-right: 20px;
	color: white;
	text-align: center;
	font-family: 'Comfortaa', cursive;
	font-size: 40px;
}
section {
	background-color: lightblue;
	display:inline-grid;
	width: 85%;
	margin-bottom: 5px;
	padding-left: 73px;
	padding-right: 73px;
	padding-top: 5px;
}

p {
	font-family: 'Montserrat', sans-serif;
	text-align: justify;
	font-size: 20px;
	margin:5px;
}
li {
		font-family: 'Montserrat', sans-serif;
}
h1,h2,h3 {
	text-align: center;
}

.icon {
	width: 40%;
	margin: 90px;
	margin-top: 50px;
	padding: 40px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        box-shadow: 5px 5px 8px 4px rgba(0, 0, 0, 0.15);
}

.center {
	text-align: center;
	font-size: 100px;
	padding: 0;
	margin: 0;
}

article {
	margin: 15px;
}



a {
	text-decoration: none;
}

#leftarrow {
	font-size: 50px;
}

#leftarrow:link {
	color: black;
}

#leftarrow:visited {
	color: black;
}

#rightarrow {
	font-size: 50px;
}

#rightarrow:link {
	color: black;
}

#rightarrow:visited {
	color: black;
}

.profile_link {
	background-color: #6394e9;
	padding: 20px;
	margin-bottom: 5px;
	text-align: center;
}

.profile_link a:visited {
	color: white;
}

.profile_link a:link {
	color: white;
}

.home_link {
	background-color: #6394e9;
	padding: 20px;
	margin-bottom: 5px;
	text-align: center;
}

.home_link a:visited {
	color: white;
}

.home_link a:link {
	color: white;
}

.swipebox{
	display: grid;
	grid-template-columns: 50% 50%;
	text-align: center;
	margin-bottom: 50px;
	padding: 40px;
	font-family: 'Montserrat', sans-serif;
}

.imgbox {
	height: 500px;
}

.chinder-title {
	display: inline-block;
}
#charity_name{
	font-size: 100px;
}

.main-menu .material-icons {
    font-size: 100px !important;
    float: right !important;
		background : #1F64DD;
		color:white;
}

.displaybox{
	height: 850px;
	margin-top: 15px;
	margin-bottom: 20px;
}

#nav-menu-items {
	display : block;
	background : grey;
	position:fixed;
	bottom: 0px;
	left: 100%;
	width: 50%;
	height: 100%;
  transition: left 0.3s ease;
	margin-left: 500px;
}
#nav-menu-items:target {
	display:block;
	left: 0%;


}
#nav-menu-items a {
	display:block;
	font-size:50px;
	color: white;
	padding:50px ;

}
#nav-menu-items i {
	font-size: 50px;
}
.swipe_image_left {
	transform: rotate(12deg) translateX(700px);
	transition: transform 1s;
}

.swipe_image_right {
	transform: rotate(-12deg) translateX(-700px);
	transition: transform 1s;

}

button {
	font-size: 30px;
	margin: 6px;
}

textarea {
	height: 500px;
	margin: 6px;
	font-size: 30px;
}

.SUBMIT_BUTTON {
	color: blue;
	background: skyblue;
}

input {
	font-size: 30px;
}
ul{
	font-family: 'Montserrat', sans-serif;
	text-align: justify;
	font-size: 20px;
	margin:5px;
}
