input {
	width:50%;
	padding:6px, 10px;
	margin: 8px;
	background:;
	margin-left: 50px;
	margin-right:50px;
	border: none;
	border-bottom: 2px solid blue;
}

.forms {
	background-color: #add8e6;
	margin-left: 8%;
	margin-right: 8%;
	text-align: center;
  padding-bottom: 20px;
}

.title {
	font-family: sans-serif;
	color: black;
}