<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="/static/main.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa|Lora|Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
</head>
<body>
  {~ include templates/header.html ~}
<h1>About </h1>

<section>
<p>There is an overwhelming number of charities out there; charities to support medical causes, humanitarian causes, educational appeals, animal based agenicies, just to list a few.  With all of those charities out there it is hard to choose which ones are best for you to support.  That is where Equalibrium comes in handy.</p>
<h3>Developers</h3>
<p> Created by a group of civic minded students, who understand how precious time is but still want to help out others,  Equalibrium is aimed to make it easier and more time efficiant to assist caues.</p>
<p>Equalibrium is tailored to match users with charities that best suit their interests, making it easier to decide which charities to assist or donate to. The app also offers the feature of following, or choosing to look at later, a charity according to user preference.  No more searching through dozens of webpages or listening to (or hanging up on) countless call center operators<p>
<h3>Equalibrium can be used quickly and easily during;</h3>
<ul>
  <li> your public transport commute to or from work,</li>
  <li> the time before meetings,</li>
  <li> waiting to collect the children from school,</li>
  <li> or any other time during the day or night.</li>
</ul>
<h3>Features of Equalibrium include;</h3>
<ul>
  <li>User profiles,</li>
  <li>Charity profiles,</li>
  <li>Links to charity webpages from charity profiles,</li>
  <li>Friending other users,</li>
  <li>Following charity updates and events,</li>
  <li>Recommend charities,</li>
</ul>
</section>
  </body>
</html>
