<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="/static/main.css" type="text/css">

</head>
<body>
    <header>
    <h1>Chinder<a><img src="/static/images/HAM.png" class="hamburger"></a></h1>

    <h3 class="white">Swipe for good</h3>
    <a class="main-menu" href="#nav-menu-items"><i class="material-icons">menu</i> </a>
    </header>
    {~ include templates/hamburger_menu.html ~}
<h1>About </h1>

<section>
<p>There is an overwhelming number of charities out there; charities to support medical causes, humanitarian causes, educational appeals, animal based agenicies, just to list a few.  With all of those charities out there it is hard to choose which ones are best for you to support.  That is where _the app_ comes in handy.</p>
<p> Created by a group of civic minded students, who understand how precious time is but still want to help out others, _the app_ is aimed to make it easier and more time efficiant to assist caues.</p>
<p>_This app_ is tailored to match users with charities that best suit their interests, making it easier to decide which charities to assist or donate to. The app also offers the feature of _liking_ or _disliking_ a charity according to user preference.  No more searching through dozens of webpages or listening to (or hanging up on) countless call center operators<p>
<h3>_The App_ can be used quicckly and easily during;</h3>
<ul>
  <li> your public transport commute to or from work,</li>
  <li> the time before meetings,</li>
  <li> waiting to collect the children from school,</li>
  <li> or any other time during the day or night.</li>
</ul>
<h3>Features of _the app_ include;</h3>
<ul>
  <li>User profiles,</li>
  <li> Charity profiles,</li>
  <li> Links to charity webpages from charity profiles,</li>
  <li> </li>
</ul>
</section>
  </body>
</html>
