<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="/static/main.css">
<link href="https://fonts.googleapis.com/css?family=Comfortaa|Lora|Montserrat" rel="stylesheet">

</head>
<body>
  <header>
  <h1>Chinder<a><img src="/static/images/HAM.png" class="hamburger"></a></h1>
  <p class="white">name still work in progress 0-0</p>
  </header>

<p> <img src="{{charity._logo}}" ></p>

<h1> {{charity_profile_id}} {{charity._name}} </h1>
<section><h2> Bio </h2>
  <p> Follows: {{numfollowed}} </p>
<p>{{charity._story}}</p> </section>
<section> <h2> Link </h2>
  <p> <a href= "{{charity._websiteURL}}"><big> CLICK ME </big> </a> </section>
<section> <h2> Updates </h2>
<p> Enter updates here </p> </section>
<section> <h2> Events </h2>
<p> Enter events here </p> </section>
</body>


</html>
