<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="/static/main.css">
<link href="https://fonts.googleapis.com/css?family=Comfortaa|Lora|Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

</head>
<body>
  <header>
    <div class="row">
      <h1 class="chinder-title">Equalibrium</h1>
      <a class="main-menu" href="#nav-menu-items"><i class="material-icons">menu</i> </a>
    </div>
    <h3 class="white">Swipe for good</h3>
  </header>

  {~ include templates/hamburger_menu.html ~}
<p> <img src="{{charity._logo}}" ></p>

<h1> {{charity_profile_id}} {{charity._name}} </h1>
<section><h2> Bio </h2>
  <p> Follows: {{len(charity.followers())}} </p>
<p>{{charity._story}}</p> </section>
<section> <h2> Link </h2>
  <p> <a href= "{{charity._websiteURL}}"><big> CLICK ME </big> </a> </section>
<section> <h2> Updates </h2>
<p> Enter updates here </p> </section>
<section> <h2> Events </h2>
<p> Enter events here </p> </section>
</body>


</html>
