<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Home</title>
<link href="/static/main.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Comfortaa|Lora|Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
  <header>
    <div class="row">
      <h1 class="chinder-title">Equalibrium</h1>
      <a class="main-menu" href="#nav-menu-items"><i class="material-icons">menu</i> </a>
    </div>
    <h3 class="white">Swipe for good</h3>
  </header>

  {~ include templates/hamburger_menu.html ~}
<section>
<h2>Create new charity</h2>
<form action="/post_create_charity_profile" method = "POST">
<input id="new_name" type="text" name = "new_name" placeholder="Enter name of charity"></input>
<!-- <p><strong>Upload charity photo</strong><button>UPLOAD</button> <img id="uploaded_image" src="/static/images/preview.png"></p> -->
<input id="logo_name" type="text" name = "logo_name" placeholder="Enter link to your Logo"></input>
<textarea id="new_bio" type="text" name ="new_bio" placeholder="Enter charity Bio (205 word limit)"></textarea>
<button type="submit" class="SUBMIT_BUTTON">SUBMIT</button>
</form>
</section>
</body>
</html>
