<!-- Template file for html created by Sara -->
<!--Hamburger thing -->
<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Lora|Montserrat" rel="stylesheet">
    <link href="/static/main.css" rel="stylesheet">
    <link href="/static/feed.css" rel="stylesheet">
    <title>Feed Page</title>
  </head>
  <body>
    <header>
	     <h1>
         Chinder??
         <a><img class = "hamburger" src="/static/images/HAM.png" class="hamburger"></a>
       </h1>
       <h3>Charity Newsfeed</h3>
    </header>

    <ul>
      <li class = "userpic"><img src = "/static/images/person.jpeg"></li>
      <li class='username'>(username)</li>
    </ul>

    <div class="grid-container">
      <div class="profilepic">
        <img src = "/static/images/person.jpeg">
      </div>
      <div class="profilename">
        <h2>Charity Name??</h2>
      </div>
      <div class="post">
        <p>This is their post! Events? Situation Update? etc.<p>
      </div>
    </div>

    <div class="grid-container">
      <div class="profilepic">
        <img src = "/static/images/person.jpeg">
      </div>
      <div class="profilename">
        <h2>Charity Name??</h2>
      </div>
      <div class="post">
        <p>This is their post! Events? Situation Update? etc.<p>
      </div>
    </div>

    <div class="grid-container">
      <div class="profilepic">
        <img src = "/static/images/person.jpeg">
      </div>
      <div class="profilename">
        <h2>Charity Name??</h2>
      </div>
      <div class="post">
        <p>This is their post! Events? Situation Update? etc.<p>
      </div>
    </div>

  </body>
</html>
