
<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Lora|Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="/static/main.css" rel="stylesheet">
    <link href="/static/feed.css" rel="stylesheet">
    <title>Feed Page</title>
  </head>
  <body>
    <header>
      <div class="row">
        <h1 class="chinder-title">Equalibrium</h1>
        <a class="main-menu" href="#nav-menu-items"><i class="material-icons">menu</i> </a>
      </div>
      <h3 class="white">Swipe for good</h3>
    </header>

    {~ include templates/hamburger_menu.html ~}
    <h3>Charity Newsfeed</h3>

    <div class="grid-container">
      <div class="profilepic">
        <img src = "/static/images/person.jpeg">
      </div>
      <div class="profilename">
        <h2>Charity Name??</h2>
      </div>
      <div class="post">
        <p>This is their post! Events? Situation Update? etc.<p>
      </div>
    </div>

    <div class="grid-container">
      <div class="profilepic">
        <img src = "/static/images/person.jpeg">
      </div>
      <div class="profilename">
        <h2>Charity Name??</h2>
      </div>
      <div class="post">
        <p>This is their post! Events? Situation Update? etc.<p>
      </div>
    </div>

    <div class="grid-container">
      <div class="profilepic">
        <img src = "/static/images/person.jpeg">
      </div>
      <div class="profilename">
        <h2>Charity Name??</h2>
      </div>
      <div class="post">
        <p>This is their post! Events? Situation Update? etc.<p>
      </div>
    </div>

  </body>
</html>
