<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Home</title>
<link href="/static/main.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Comfortaa|Lora|Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
  <header>
    <div class="row">
      <h1 class="chinder-title">Equalibrium</h1>
      <a class="main-menu" href="#nav-menu-items"><i class="material-icons">menu</i> </a>
    </div>
    <h3 class="white">Swipe for good</h3>
  </header>

  {~ include templates/hamburger_menu.html ~}
  <section>
    <p class="center">

    <img src="{{charity._logo}}" class="icon" id = "charitylogo">
    </p>
    <p class="center">
      <div class = "swipebox">
        <div><a id = "leftarrow" href="/swipe/{{charity._id}}/left/"><i class="material-icons" style="font-size:80px;color:black">restore</i><br>Maybe<br>Later</a></div>
        <div><a id = "rightarrow" href="/swipe/{{charity._id}}/right/"><i class="material-icons" style="font-size:80px;color:red">favorite</i><br>Follow<br>Now</a></div>
      </div>
    </p>
    </section>

  <section>
  <h2>{{charity._name}}</h2>
  <article>
  <p>
  {{charity._story}}
  </p>
  </article>
  </section>
  <script src = "/static/main.js">

  </script>
</body>
</html>
