<html>
<head>
<meta charset="utf-8">
<title>Sign up</title>
<link href="/static/main.css" rel="stylesheet">
<link href="/static/user_sign_up.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Comfortaa|Lora|Montserrat" rel="stylesheet">

</head>

<body>
  <header>
    <div class="row">
      <h1 class="chinder-title">Equalibrium</h1>
      <a class="main-menu" href="#nav-menu-items"><i class="material-icons">menu</i> </a>
    </div>
    <h3 class="white">Swipe for good</h3>
  </header>
  {~ include templates/hamburger_menu.html ~}
  <div class="forms">
    <form>
      <h4 class="fname_input">First name:<br></h4>
      <br>
      <input name="fname"><br>
      <br>
      <h4>Last name:<br></h4>
      <br>
      <input name="sname">
      <br>
      <h4>email:<br></h4>
      <br>
      <input name="email">
      <br>
      <h4>password:<br></h4>
      <br>
      <input name="pass">
      <br>
      <h4>confirm password:<br></h4>
      <br>
      <input name="pass">
    </form>
 </div>
</body>
