<html>
<head>
<meta charset="utf-8">
<title>Sign up</title>
<link href="/static/main.css" rel="stylesheet">
<link href="/static/user_sign_up.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Comfortaa|Lora|Montserrat" rel="stylesheet">

</head>

<body>
  <header>
    <div class="row">
      <h1 class="chinder-title">Equalibrium</h1>
      <a class="main-menu" href="#nav-menu-items"><i class="material-icons">menu</i> </a>
    </div>
    <h3 class="white">Swipe for good</h3>
  </header>
  {~ include templates/hamburger_menu.html ~}
  <div class="forms">
    <form method="POST" action="/">
      <h2 class="title">Create User Form</h1>
      <br>
      <input name="username" placeholder="Username">
      <br>
      <br>
      <br>
      <input name="fname" placeholder="First Name">
      <br>
      <input name="sname" placeholder="Last Name">
      <br>
      <br>
      <br>
      <input name="email" placeholder="Email Name">
      <br>
      <br>
      <br>
      <input name="pass" type="password" placeholder="Password">
      <br>
      <input name="pass" type="password" placeholder="Confirm Password">
      <br>
      <br>
      <br>
      <input type="submit">
    </form>
 </div>
</body>
