<!-- Template file for html created by Sara -->
<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Lora|Montserrat" rel="stylesheet">
    <link href="/static/main.css" rel="stylesheet">
    <link href="/static/user.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
  </head>
  <body>

      {~ include templates/header.html ~}
  <div class= "wrapper">
    <div class="user-image"> <i class="material-icons account_circle_profile">account_circle</i> </div>
    <section>
      <div class= "user-info"> <h2>{{user._username}}</h2> </div>
    </section>

    <section>
{% if len(user.following()) == 0 %}
<div class="saved-links"> <h2>No Followed Charities</h2></div>
{% end if %}
{% if len(user.following()) %}
{$ for charity in user.following() $}
      <div class="saved-links"> <h2>Followed Charities</h2>
        <ul class="links-list">
            <p class = "profile_link"><a href="/charity_profile/{{charity._id}}/">{{charity._name}}</a></p>
       </ul>
      </div>
{$ end for $}
{% end if %}
    </section>
  </div>
  </body>
</html>
